# Proxmox LXC instances
# ---
# Proxmox LXC instances to manage using OpenTofu

templates:
  - name: debian-13.2-minimal
    file_name: debian-13-minimal_13.2_amd64.tar.gz
    datastore_id: local
    node_name: sierra

instances:
  - name: ansible-lxc
    config_name: ansible

  - name: mat2-web
    config_name: mat2-web
