# @format

# Proxmox datacenter firewall IPsets
# ---
# Firewall IPsets across the proxmox datacenter.

- name: gitea_https_clients
  comment: "Clients accessing gitea using HTTPS"
  children:
    - rosabelle_router_island

- name: gitea_ssh_clients
  comment: "Clients accessing gitea using SSH"
  children:
    - winter_wikijs

- name: jellyfin_clients
  comment: "Clients accessing Jellyfin media streaming"
  children:
    - hanni_homarr
    - juliette_jellyseerr
    - lan
    - melanie_prometheus
    - rainbow_radarr
    - sapphire_sonarr
    - tiny_airport_privilege

- name: lan_airport_admins
  comment: "[LAN + Airport - admins] Lan & Tiny airport admins"
  children:
    - lan_ryan_amalie_ethernet
    - lan_ryan_amalie_wifi
    - lan_ryan_luna
    - lan_ryan_rose
    - tiny_airport_ryan_luna
    - tiny_airport_ryan_rose

- name: lan_airport_privilege
  comment: "[LAN + Airport - privilege] Entire lan network & Tiny airport privilege users"
  children:
    - lan
    - tiny_airport_privilege

- name: nfs_clients
  comment: "Clients accessing the network attached storage nfs service"
  children:
    - alora_firefly
    - alyssa_paperless
    - ansible-vm_ansible-vm
    - bibi_bazarr
    - dahlia_qbittorrent
    - daisy_drop
    - marilyn_jellyfin
    - pearl_prowlarr
    - petal_immich
    - rainbow_radarr
    - sapphire_sonarr
    - stevie_send
    - tiffany_vikunja
    - wendy_nextcloud
    - winter_wikijs
    - yena_gitea

- name: ntfy_clients
  comment: "Clients accessing Ntfy notificiations service"
  children:
    - alora_firefly
    - bibi_bazarr
    - dahlia_qbittorrent
    - pearl_prowlarr
    - rainbow_radarr
    - sana_wallos
    - sapphire_sonarr
    - serene_uptime-kuma
    - sierra_proxmox
    - solar_scrutiny

- name: ollama_clients
  comment: "Clients accessing Ollama API"
  children:
    - kiara_karakeep

- name: protonmail_ip_ranges
  comment: "Protonmail IP ranges"
  children:
    - 109.224.244.0/24
    - 109.224.247.0/24
    - 176.119.200.0/24
    - 185.205.70.0/24
    - 185.70.40.0/24
    - 185.70.41.0/24
    - 185.70.42.0/24
    - 185.70.43.0/24
    - 194.0.147.0/24
    - 79.135.106.0/24
    - 79.135.107.0/24

- name: prowlarr_clients
  comment: "Clients accessing Prowlarr indexers manager"
  children:
    - dahlia_qbittorrent
    - hanni_homarr
    - rainbow_radarr
    - sapphire_sonarr

- name: qbittorrent_clients
  comment: "Clients accessing qBittorrent download client"
  children:
    - hanni_homarr
    - pearl_prowlarr
    - rainbow_radarr
    - sapphire_sonarr

- name: radarr_clients
  comment: "Clients accessing radarr movies manager"
  children:
    - bibi_bazarr
    - dahlia_qbittorrent
    - hanni_homarr
    - juliette_jellyseerr
    - pearl_prowlarr

- name: scrutiny_clients
  comment: "Clients accessing scrutiny smart monitoring service"
  children:
    - rosabelle_router_hq
    - seori_nas
    - sierra_proxmox

- name: sonarr_clients
  comment: "Clients accessing sonarr TV manager"
  children:
    - bibi_bazarr
    - dahlia_qbittorrent
    - hanni_homarr
    - juliette_jellyseerr
    - pearl_prowlarr

- name: telegram_ip_ranges
  comment: "Telegram IP ranges (https://core.telegram.org/resources/cidr.txt)"
  children:
    - 91.108.56.0/22
    - 91.108.4.0/22
    - 91.108.8.0/22
    - 91.108.16.0/22
    - 91.108.12.0/22
    - 149.154.160.0/20
    - 91.105.192.0/23
    - 91.108.20.0/22
    - 185.76.151.0/24
