# Ntfy notifications service instance firewall rules
# ---
# Firewall rules for the Ntfy notifications service instance.

presets:
  - name: basic
  - name: uptime
  - name: node-exporter
  - name: web
    vars:
      source_alias: lan_airport_privilege
      source_alias_is_ipset: true
      source_description: LAN & Tiny_Airport privilege
      application: Ntfy

specifics:
  - action: ACCEPT
    type: in
    source: ntfy_clients
    source_ipset: true
    dest: karina_ntfy
    dest_ipset: false
    macro: HTTPS
    comment: "[Ntfy - HTTPS] [Allow] Ntfy clients to Karina Ntfy notification service"
    log: nolog

  - action: ACCEPT
    type: in
    source: telegram_ip_ranges
    source_ipset: true
    dest: karina_ntfy
    dest_ipset: false
    macro: HTTPS
    comment: "[Telegram - HTTPS] [Allow] Telegram servers to Karina Ntfy notification service (for UnifiedPush)"

  - action: ACCEPT
    type: in
    source: protonmail_ip_ranges
    source_ipset: true
    dest: karina_ntfy
    dest_ipset: false
    macro: SMTP
    comment: "[Protonmail - SMTP] [Allow] Protonmail to Karina Ntfy notification service"

  - action: ACCEPT
    type: out
    source: karina_ntfy
    source_ipset: false
    dest: rosabelle_router_hotel
    dest_ipset: false
    macro: Ping
    comment: "[OPNsense - ICMP] [Allow] Karina Ntfy notification service to Rosabelle OPNsense router"

  - action: ACCEPT
    type: out
    source: karina_ntfy
    source_ipset: false
    dest: rosabelle_router_hotel
    dest_ipset: false
    macro: DNS
    comment: "[OPNsense - DNS] [Allow] Karina Ntfy notification service to Rosabelle OPNsense router DNS server"

  - action: ACCEPT
    type: out
    source: karina_ntfy
    source_ipset: false
    dest: rosabelle_router_hotel
    dest_ipset: false
    macro: NTP
    comment: "[OPNsense - NTP] [Allow] Karina Ntfy notification service to Rosabelle OPNsense router NTP server"

  - action: ACCEPT
    type: out
    source: karina_ntfy
    source_ipset: false
    macro: HTTP
    comment: "[Public - HTTP] [Allow] Karina Ntfy notification service to Any"

  - action: ACCEPT
    type: out
    source: karina_ntfy
    source_ipset: false
    macro: HTTPS
    comment: "[Public - HTTPS] [Allow] Karina Ntfy notification service to Any"

options:
  output_policy: REJECT
